.Form {
  width: 40rem;
  height: 40rem;
  letter-spacing: 0.25rem;
  display: flex;
  justify-content: center;
  align-content: space-between;

  flex-direction: column;
  padding: 0.5rem 2.5rem;
  border-radius: 9px;
  border: 4px solid rgba(255, 255, 255, 1);
  text-shadow: -1.5px 1.25px 1px rgba(66, 68, 90, 1);
}

fieldset {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  border-radius: 9px;
  background-color: #29a165;
  border: 2px solid rgba(0, 0, 0, 1);
  box-shadow: -4px 4px 0px 3px rgba(255, 255, 255, 1);
}

label {
  font-size: 2rem;
}

input {
  border-radius: 9px;
  font-size: 1.2rem;
}

input:focus {
  transform: scale(1.05);
  outline-color: aqua;
}

.button-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  text-shadow: -1.5px 1.25px 1px rgba(66, 68, 90, 1);
  font-size: 2rem;
  border-radius: 9px;
  background-color: #29a165;
  color: #282c34;
  padding: 0.8rem;
  box-shadow: -4px 4px 0px 3px #ffffff;
  transition: transform ease-in-out 0.5s;
}

button:hover {
  transition: transform ease-in-out 0.5s;
  transform: translate(-3px, 3px);
}
