@use "/src/default.scss" as d;

nav {
  margin-bottom: 8rem;
  background-color: d.$bgColor;
  display: flex;
  align-items: center;
  border: #fff 3px solid;
  border-radius: d.$borderRad;
  a {
    color: #fff;
    list-style: none;
    font-size: d.$fontSizeForm;
    display: flex;
    justify-content: center;
    margin: 0 3vw;
    text-decoration: none;
    transition: transform ease-in-out 0.5s;
    padding: 0.6rem;
    &:hover {
      color: d.$accentColor;
      cursor: pointer;
      transition: transform, background-color ease-in-out 0.5s;
      transform: scale(1.1);
      background-color: #fff;
      border-radius: 20px;
    }
  }
}
