@use "/src/default.scss" as d;

nav {
  margin-bottom: 8rem;
  background-color: d.$bgColor;
  display: flex;
  align-items: center;
  border: #fff 3px solid;
  border-radius: d.$borderRad;
  a {
    color: #fff;
    font-size: d.$fontSizeForm;
    margin: 0.5rem 3vw;
    text-decoration: none;
    transition: transform ease-in-out 0.5s;
    padding: 0.6rem;
    &:hover {
      color: d.$accentColor;
      cursor: pointer;
      transition: transform, background-color ease-in-out 0.5s;
      transform: scale(1.1);
      background-color: rgba(255, 255, 255, 0.696);
      border-radius: 20px;
    }
    @include d.media("<=tablet") {
      font-size: 1.5rem;
    }
  }
  .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @include d.media("<=tablet") {
      flex-direction: column;
    }
  }
  .hamburger {
    filter: invert(52%) sepia(62%) saturate(432%) hue-rotate(98deg) brightness(87%) contrast(99%);
    font-size: 3rem;
  }
  .menuMask {
    background-color: #fff;
  }
}
